<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/styleGame.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="back">
      <a href="/home" class="Kemabali"><</a>
      <img src="./assets2/logo-1.png" alt="" />
      <p>ROCK PAPPER SCISSOR</p>
    </div>
    <div class="games">
      <div class="scorePlayer">
        <h3>SCORE PLAYER</h3>
        <div class="scorePlayerUpdate">0</div>
      </div>
      <div class="game-section">
        <div class="player-computer">
          <p>PLAYER 1</p>
          <p>COMPUTER</p>
        </div>
        <div class="batu-section">
          <div class="paddingPlayer playerBatu">
            <img src="./assets2/batu.png" alt="" class="batuSaya" />
          </div>
          <div class="paddingComp compBatu">
            <img src="./assets2/batu.png" alt="" class="batuComp" />
          </div>
        </div>
        <div class="kertas-section">
          <div class="paddingPlayer playerKertas">
            <img src="./assets2/kertas.png" alt="" class="kertasSaya" />
          </div>
          <div class="versus">
            <p class="vs">VS</p>
          </div>
          <div class="paddingComp compKertas">
            <img src="./assets2/kertas.png" alt="" class="kertasComp" />
          </div>
        </div>
        <div class="gunting-section">
          <div class="paddingPlayer playerGunting">
            <img src="./assets2/gunting.png" alt="" class="guntingSaya" />
          </div>
          <div class="paddingComp comptGunting">
            <img src="./assets2/gunting.png" alt="" class="guntingComp" />
          </div>
        </div>
        <div class="refresh">
          <img src="./assets2/refresh.png" alt="" />
        </div>
      </div>
      <div class="scoreComp">
        <h3>SCORE COMPUTER</h3>
        <div class="scoreCompUpdate">0</div>
      </div>
    </div>
    <script src="script/script.js"></script>
  </body>
</html>
